/* Allgemein */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.no-valid {
    font-size: 100px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
    color: #353535;
}
.back-menu {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    color: #353535;
}
.back-menu:hover {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    color: #c44536;
}
.unused {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Header*/
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.mainmenu {
    background-color: #353535;
}
footer {
 /* position: sticky; */
    /*flex-shrink: 0;*/
    background-color: #3c6e71;
}
header {
    background-color: #3c6e71;
    /*display: flex;*/

}
.logo {
    margin: 20px;
    max-width: 100%;
    width: 300px;
}
.collapse {
    background-color: #3c6e71;
}
.bg-light {
    background-color: #3c6e71!important;
}
.nav-item {
    font-size: 32px!important;
}
.nav-item:hover {
    background-color: #c44536;
    color: #353535;
}
.dropdown-menu {
    background-color: #c44536;
    color: #353535;
    border-radius: 0%;
    border: 1px solid #c44536;
    margin-top: 0%;
}
.dropdown-item {
    color: #353535;
}
.dropdown-item:hover {
    color: #353535;
    background-color: #3c6e71;
}
.nav-link {
    /*font-family: 'Teko', sans-serif;*/
    margin-right: 30px;
}
link {
    color: #353535;
}
@media screen and (max-width: 1242px) {
    .nav-item {
        font-size: 20px!important;
    }
}
@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        width: 100%;
    }
    button:focus {
        outline: none!important;
    }
}
@media screen and (max-width: 631px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    button:focus {
        outline: none!important;
    }
    .nav-item {
        font-size: 0.5px;
    }
    .navbar {
        width: 100%;
    }
}



/* main */

.icon {
    width: 50%!important;
    margin: 2% auto 8% auto;
    display: block;
}

@media (max-width: 1600px) {
    .icon {
        width: 40%!important;
        margin: 4% auto 10% auto; 
    }
}

@media (max-width: 1200px) {
    .icon {
        width: 25%!important;
        margin: 6% auto 12% auto; 
    }
}

@media (max-width: 992px) {
    .icon {
        width: 20%!important;
        margin: 8% auto 20% auto; 
    }
}

@media (max-width: 765px) {
    .icon {
        width: 20%!important;
        margin: 4% auto 10% auto; 
    }
}

div.carousel-flex {
    display: flex;
    justify-content: center;
}

div.carousel {
    width: 2000px;
    max-width: 100%;
    }

.card-img-top{
    padding: 1.25rem;
} 


div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

div.cards h1 {
    text-align: center;
    color: white;
}

article.med {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

article.inf {
    display: flex;
    justify-content: space-around;
    margin: 0% 20% 2% 20%;
}
.card-title {
    color: #353535;
}
.card-text {
    color: #353535;
}
.card a {
    text-decoration: none;
}

@media (max-width: 1500px) {
    .medcard{
        margin: 0% 0.2%;
    }

    .infcard{
        margin: 0% 0.33%;
    }
}

@media (max-width: 992px) {
    article.med {
        flex-direction: column;
        align-items: center;
    }

    div.card {
        margin: 10px;
    }
}

@media (max-width: 992px) {
    article.inf {
        flex-direction: column;
        align-items: center;
        margin: 0% 0% 2% 0%;
    }

    div.card {
        margin: 10px;
    }
}


/* Footer */


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;

}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    height: 100%;
    padding: 2%;
    color: #353535;
}


.footerlinks {
    color: #353535;
}


.footerlinks:hover {
    color: #c44536
}

footer p{
    margin: 0px;
}

footer img {
    width: 300px;
    max-width: 100%;
}


@media (max-width: 992px) {
    footer {
      flex-direction: column;
    }

    footer div {
        flex-direction: column;
        align-items: flex-start
    }

    footer img {
        width: 300px;
        max-width: 100%;
    }
    
    footer p{
        margin: 16px 0px 16px 0px;
    }





    footer p{
        margin: 16px 0px 16px 0px;
    }
  
}
/*101*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {

 
  main.jumbotron.jumbotron.html{
    background-color: white;
    padding: 0px;
    margin: 0px;
    justify-content: left;
}


ul.bi{
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
}
li.bi{
padding-left: 2px;
list-style-type: none;
font-size: 150%;
    }
    .col-12.bi{
        background-color: #3c6e71;
    }
    button{
        padding: 0 30px 0 30px;
        background-color: #3c6e71;
    color: #FFFFFF;
    height: 80px;
    border: #4e8e92 solid 1px 2px 1px 2px;
    }
.col-12.html.css{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-12.html.css.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.col-8.html{
    background-color: white;
    
    text-align: left;
    height: max-content;
    padding: 0px;
    margin: 5px 0px 5px 0px;
}
.col-8.html.bss{
    
    background-color: white;
    text-align: left;
    height: max-content;
    border:none;
}
.col-5.html.css{
    background-color: white;
    
}
.col-4.html{
    background-color: white;
    margin: 5px 0px 5px 0px;
    border: none;
    width: 100%;
}
.card-block.html.css{
    display: flex;
    justify-content: center;
}


.card.html{
    border: none;
    width: 100%;
}
.col-8.html.css{
    background-color: white;
    text-align: center;
    height: max-content;
    margin: 5px;
}
.col-8.html.halb{
    background-color: white;
    text-align: center;
    height: max-content;
    border: none;
    margin: 5px;
    width: 100%;
    
}
 }  
  /* If the screen size is 600px or less*/
  @media only screen and (max-width: 900px) {

main.jumbotron.jumbotron.html{
    background-color: white;
    padding: 0px;
    margin: 0px;
    justify-content: center;

}
.pic5{
width: 300%;
}
.pic6{
width: 0%;
}
.pic6.bild{
    width: 900%;
    }
    .col-12.bi{
        background-color: #3c6e71;
        flex-direction: column;
    }

button{
    padding: 5px 0 5px 0;
    background-color: #3c6e71;
color: #FFFFFF;
height: 50px;
width: 200px;
border: #4e8e92 solid 1px 2px 1px 2px;
}
ul.bi{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
padding: 14px;
}
li.bi{
    display: flex;
padding-left: 2px;
list-style-type: none;
font-size: 80%;
justify-content: center;
    }
.col-12.html.css{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.col-8.html{
    background-color: white;

    text-align: left;
    height: max-content;
    padding: 0px;
    margin: 5px 0px 5px 0px;
    width: 100%;
}
.col-8.html.bss{
    background-color: white;
    text-align: left;
    height: max-content;
    border: 1px solid;
    width: 100%;
}
.col-5.html.css{
    background-color: white;
    width: 150%;
}
.col-5.html.css.del{
    background-color: white;
    width: 0px;
}

.col-4.html.bss{
    background-color: white;
    margin: 5px 0px 5px 0px;
border: none;
    width: 100%;
}
.col-2.html.del{
    height: 0px;
    width: 0px;
}
.col-12.html.row.halb{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 150%;
}
p#text{
    width: 100%;
}
.col-8{
    max-width: 80%;
}

.col-8.html.bss{

    padding: 0px;
    border: none;
    margin: none;
}
.card-block.html.css{
    display: flex;
    justify-content: center;
}
.card-block.html.bild{
    display: flex;
    justify-content: center;
}

.card.html{
    border: none;
    margin: 0px;
}
.col-12.html.css{
    background-color: white;
    text-align: center;
    height: max-content;
    margin: 5px;
    width: 100%;
}
.col-8.html.halb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    text-align: center;
    height: max-content;
    border: none;
    margin: 5px;
    width: 100%;
}
  }
/*304*/

.pdf {
    border: 5px #C44536 solid;
    width: 90%;
    height: 1250px;
}

.tab-content>.active {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

#plugin {
    background-color: #353535!important;
}

/*au*/



.au.bs-example {
    margin: 80px 50px 30px 50px;
}

ul.au.nav.nav-tabs {
    border-bottom: solid 3px  #353535;
    margin: 80px 0px;  
    display: flex;
    justify-content: space-between;
    
}

.au.nav-tabs .au.nav-item.show .au.nav-link, .au.nav-tabs .au.nav-link.active.text-center {
    border:solid #353535;
    border-width: 2px 2px 0px 2px;
    background: #C44536;
    color: #353535;
    font-weight: bold;
    border-radius: 0px;
}


li.au.nav-item {
    width: 15%;  
    
}



a.au.nav-link {
    text-decoration: none;
    color: #353535;
    font-size: 24px;
    margin: 0px;
}


.au.nav-link.active.text-center {
    margin: 0px;
}





/* Hover About Us */

.au.nav-item:hover {
    color: #353535;
    background: none;
}

.au.nav-link:hover {
    border-radius: 0px;
}
    
.au.nav-tabs:hover .au.nav-link:hover {
        border:solid  #353535;
        border-width: 2px 2px 0px 2px;
}

/* Media Queries About Us */

@media (max-width: 1587px) {

.au.bs-example {
    display: flex;
    flex-direction: column;
     margin: 0px 50px 30px 50px;
}

.au.nav-tabs {
    flex-direction: column;
    padding-bottom: 5px;
    width: 100%;
}

li.au.nav-item {
        width: 100%;
        

    }
.au.nav-tabs:hover .au.nav-link:hover {
    border-width: 2px;
  

}
.au.nav-tabs .au.nav-item.show .au.nav-link, .au.nav-tabs .au.nav-link.active.text-center {
    
    border-width: 2px;
    
}
ul.au.nav.nav-tabs {
    margin: 20px 0px;
}


} 

@media (max-width: 354px) {
    a.au.nav-link {
        font-size: 16px;

    }
a.au.nav-link.active.text-center .au.nav-link.text-center {
    width: fit-content;
}


}





/* Farben:
jet: #353535
ming: #3C6E71
white: #FFFFFF
red: #C44536 */
