    /* FONTS */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

/* COLORS */


/*
JET:    #353535
MING:   #3C6E71
WHITE:  #FFFFFF
RED:    #C44536 
*/


    /* UNUSED PAGES */


.no-valid {
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
    color: #353535;
}
.back-menu {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    color: #353535;
}
.back-menu:hover {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    color: #c44536;
}
.unused {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    /*Header*/


header {
    background-color: #3c6e71;
    display: flex;
}
.logo {
    margin: 20px;
    max-width: 100%;
    width: 300px;
}


/* HEADER NAV */

.navbar-collapse {
    flex-basis: 600px;
}
.collapse {
    background-color: #3c6e71;
}
.bg-light {
    background-color: #3c6e71!important;
}
.nav-item {
    font-size: 32px!important;
}
.nav-link:hover {
    background-color: #c44536;
    color: #353535;
}
.dropdown-menu {
    background-color: #c44536;
    color: #353535;
    border-radius: 0%;
    border: 1px solid #c44536;
    margin-top: 0%;
    margin-right: 30px;
}
.dropdown-item {
    color: #353535;
}
.dropdown-item:hover {
    color: #353535;
    background-color: #3c6e71;
}
.nav-link {
    /*font-family: 'Teko', sans-serif;*/
    margin-right: 30px;
}
link {
    color: #353535;
}
.nav-item:hover {
    color: #353535!important;
}
.nav-item.active {
    color: #353535!important;
    background-color: #c44536;
}
.nav-link:hover {
    color: #353535!important;
}
.nav-link {
    color: #353535!important;
}
.nav-link.active {
    color: #353535!important;
}
.nav-link:focus {
    color: #353535!important;
    background-color: #c44536!important;
    margin-right: 30px!important;
}

/* HEADER MEDIAQUERIES */

@media screen and (max-width: 1242px) {
    .nav-item {
        font-size: 20px!important;
    }
}
@media screen and (max-width: 991px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        /* width: 100%;  */
        align-self: flex-start;
    }
    button:focus {
        outline: none!important;
    }
}
@media screen and (max-width: 631px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    button:focus {
        outline: none!important;
    }
    .nav-item {
        font-size: 0.5px;
    }
 /*    .navbar {
        width: 100%;
    } */
}
@media screen and (max-width: 440px) {
    .dropdown-menu {
        width: 300px;
    }
    .dropdown-item {
        font-size: 12px;
    }
    .nav-link {
        width: 300px;
    }
}


/* HOME */


main { 
    min-height: calc(70vh - 70px);
  }
.mainmenu {
    background-color: #353535;
}
body {
    display: flex;
    flex-direction: column;
}
.icon {
    width: 50%!important;
    margin: 2% auto 8% auto;
    display: block;
}

/* HOME MEDIAQUERIES */

@media (max-width: 1600px) {
    .icon {
        width: 40%!important;
        margin: 4% auto 10% auto; 
    }
}
@media (max-width: 1200px) {
    .icon {
        width: 25%!important;
        margin: 6% auto 12% auto; 
    }
}
@media (max-width: 992px) {
    .icon {
        width: 20%!important;
        margin: 8% auto 20% auto; 
    }
}
@media (max-width: 765px) {
    .icon {
        width: 20%!important;
        margin: 4% auto 10% auto; 
    }
}
@media (max-width: 1500px) {
    .medcard{
        margin: 0% 0.2%;
    }
    .infcard{
        margin: 0% 0.33%;
    }
}
@media (max-width: 992px) {
    article.med {
        flex-direction: column;
        align-items: center;
    }
    div.card {
        margin: 10px;
    }
}
@media (max-width: 992px) {
    article.inf {
        flex-direction: column;
        align-items: center;
        margin: 0% 0% 2% 0%;
    }
    div.card {
        margin: 10px;
    }
}

@media (max-width: 767px) {
   div.carousel{
    visibility: hidden;
    height: 0px;
   }
   .carousel-flex{
    visibility: hidden;
    height: 0px; 
   }
}


/* HOME CAROUSEL */

div.carousel-flex {
    display: flex;
    justify-content: center;
}
div.carousel {
    width: 1500px;
    max-width: 100%;
}

.carouseltxt {
    color: white;
}

/* HOME CARDS */

.cardtitle {
    margin-top: 5%;
}

.card-img-top{
    padding: 1.25rem;
}
div.card.p-2.medcard {
    border-radius: 0px;
}
div.card.p-2.infcard {
    border-radius: 0px;
}
div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}
div.cards h1 {
    text-align: center;
    color: white;
}
article.med {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
article.inf {
    display: flex;
    justify-content: space-around;
    margin: 0% 20% 2% 20%;
}
.card-title {
    color: #353535;
}
.card-text {
    color: #353535;
}
.card a {
    text-decoration: none;
}


    /* FOOTER */


footer {
 
    background-color: #3c6e71;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    /* height: 100%; */
    padding: 2%;
    color: #353535;
}
.footerlinks {
    color: #353535;
}
.footerlinks:hover {
    color: #c44536
}
footer p{
    margin: 0px;
}
footer img {
    width: 300px;
    max-width: 100%;
}

/* FOOTER MEDIAQUERIES */

@media (max-width: 992px) {
    footer {
      flex-direction: column;
    }
    footer div {
        flex-direction: column;
        align-items: flex-start
    }
    footer img {
        width: 300px;
        max-width: 100%;
    } 
    footer p{
        margin: 16px 0px 16px 0px;
    }
    footer p{
        margin: 16px 0px 16px 0px;
    }
  
}

/*404 ERROR */

h1.error404 {
    font-size: 100px;
    color: #353535;
}

h2.error404 {
    color: #353535;
}

html.error404 {
    height: 100%;
}
body.error404 {
    height: 100%;
    padding: 5% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #3c6e71;
}

img.error404 {
    margin: 5% 10.71% 0% 0%
}

a.error404 {
    background: #353535;
    color: #3c6e71;
    border-color: #353535;
}

a.error404:active {
    background: #C44536;
    border-color: #C44536;
}

a.error404:hover {
    background: #C44536;
    border-color: #C44536;
}

/* Neu 101 nur Inhalt */
.col4{
    width: 100%;
}
.col4{
    margin-bottom: 30px;
}
.uberschrift{
    margin-top: 10%;
    margin-bottom: 2%;
}
.codepen.col4{
box-sizing: border-box; 
display: flex; 
align-items: center; 
justify-content: center; 
border: 2px solid; 
margin: 1em 0; 
padding: 1em;
}
.container{
    margin-bottom: 10%;
}

 /*101*/

 h1.h2.h3.h4.h5.h6{
     color: #353535;
 }

 p{
     color: #353535;
 }


 
 .foot101{
     padding: 0px 0px 65px 0px;
 }
 /*Navigation Button*/
li.bi{
    width: 100%;
    background: #353535;
    text-align: center;
}
ul.ul101{
    list-style-type: none;
    padding: 0;
}
.imgbutton {
    height: 50px;
    width: 50px;
}

/*Navigation Button Ende*/

 /*Navigation*/
button.css.test{
    bottom: 10px;
    left: 10px;
    padding: 0 7px 0 7px;
    background-color: #353535;
    color: #FFFFFF;
    height: 60px;
    border: none;
    font-size: 10px;
    margin: 1px;
    width: 100%;
}

button.css.test:hover{
    color: white;
    background-color: #c44536;
    
}

.fixed-body-test{
    border: 0px;
    border-radius: 0px;
}

.fixed-body-test button.css.test:focus{
    outline: none;
}

ul.bi.test{
    margin: 40px 0px 0px 0px;   
    background: white;
    width: 100%;
}

.fixed-body-test {
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 50;
}
/*Navigation Ende*/

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
    
    .nav-link.dropdown-toggle.navbarDropdown.unterseite{
        font-size: 40px; 
        width: 207px;
    }
    li.nav-item.dropdown.unterseite-101::marker{
        color:white;
    }
    li.nav-item.dropdown.unterseite::marker{
        color:white;
    }
    .dropdown-item.unterseite-101{
        font-size: 15px;
        width: 200px;
    }
 
 
    button.css:hover{
        background-color: #c44536;
    }
    .foot101{
        padding: 0px 0px 65px 0px;
    }
    
}
    @media(max-width: 1300px){
        .nav-link.dropdown-toggle.navbarDropdown.unterseite{
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 40px; 
            width: 100%;
        }
        .dropdown-item.unterseite-101.show{
            display: flex;
            flex-direction: row;
            justify-content: center!important;
        }
        .dropdown-item.unterseite-101{
            width: 100%;
            font-size: 15px;
            text-align: center;

        }
        .imgbutton {
            height: 20px;
            width: 20px;
        }
        ul.test.fixed-body-test.ul101{
            padding: 0;
        }
        .foot101{
            padding: 0px 0px 65px 0px;
        }

        
        
        
        
        .nav-item.dropdown.unterseite .dropdown-menu.show{
            align-content: center;
            position: relative!important;
            transform: none!important;
            width: 100%;
        }  
        .nav-item.dropdown.unterseite-101 .dropdown-menu.show{
            align-content: center;
            position: relative!important;
            transform: none!important;
            width: 100%;
        }  
        .dropdown-item.unterseite-101.show{
            width: 100px;

        }
        a#nav2.nav-link.dropdown-toggle.navbarDropdown.unterseite{
            font-size: 30px;
        }
         a.dropdown-item.unterseite-101{
            font-size: 15px;
        }  
        ::marker{
            color: white;
            
        }  
    }
 

    
    @media only screen and (max-width: 1077px) {

    ul.bi{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fixed-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 50;
    }
    li.bi{
        display: flex;
        justify-content: center;
        padding-left: 2px;
        list-style-type: none;
        font-size: 150%;
    }
    button.css.test{
        bottom: 10px;
        left: 10px;
        padding: 0 7px 0 7px;
        background-color: #353535;
        color: #FFFFFF;
        height: 30px;
        border: none;
        font-size: 10px;
        margin: 1px;
        width: 100%;
    }
    button.css.test:hover{
        color: white;
        background-color: #c44536;}



    .col-12.bi{
        background-color: #353535;
        flex-direction: column;
    }
    button.css{
        font-size: 15px;
        padding: 5px 0 5px 0;
        background-color: #353535;
        color: #FFFFFF;
        height: 50px;
        width: 100%;
        border: none;
    }
    button.css:hover{
        background-color: #c44536;
    }
    ul.bi{
        background-color: #353535;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 14px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px;
    }
    li.bi{
        display: flex;
        padding-left: 0px;
        list-style-type: none;
        font-size: 80%;
        justify-content: center;
    }
    .foot101{
        padding: 0px 0px 65px 0px;
    }
    
button.css.test:hover{
    color: white;
    background-color: #c44536;
}
} 

    html.html.css{
        overflow-x: hidden;
    }


    
 

    /*304*/


.pdf {
    border: 5px #C44536 solid;
    width: 90%;
    height: 1250px;
}
.tab-content>.active {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}
#plugin {
    background-color: #353535!important;
}


    /* ABOUT US */


    .au.bs-example {
        margin: 80px 50px 30px 50px;
    }
    
    ul.au.nav.nav-tabs {
        border-bottom: solid 3px  #353535;
        margin: 80px 0px;  
        display: flex;
        justify-content: space-between;
        
    }
    
    .au.nav-tabs .au.nav-item.show .au.nav-link, .au.nav-tabs .au.nav-link.active.text-center {
        border:solid #353535;
        border-width: 2px 2px 0px 2px;
        background: #C44536;
        color: #353535;
        font-weight: bold;
        border-radius: 0px;
    }
    
    
    li.au.nav-item {
        width: 15%;  
        
    }
    ul.au .nav-link {
        text-decoration: none;
        color: #353535;
        font-size: 24px;
        margin: 0px;
    }
    
    ul.au .nav-link.active {
        margin: 0px!important;
    }
    ul.au .nav-link:focus {
        margin: 0px!important;
    }
    

    
    
    .au-con-bl  {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
        color: #353535;
    }
    .au-inh-bl, .au-inh-andri, .au-inh-cedric,.au-inh-yanik  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #353535;
    }

.au-inh-brooklyn, .au-inh-leandro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #353535;
}

    
    .au-txt-bl, .au-txt-andri, .au-txt-brooklyn, .au-txt-cedric, .au-txt-leandro, .au-txt-yanik  {
        width: 50%;
        text-align: left;
        color: #353535;
    }
    .au-con-andri, .au-con-brooklyn, .au-con-cedric, .au-con-leandro, .au-con-yanik {
        display: flex;
        flex-direction: column;
        padding: 0 20%;
        color: #353535;
    }
    
    .au-img-andri, .au-img-brooklyn, .au-img-cedric, .au-img-leandro, .au-img-yanik {
        max-width: 100%;
        width: 300px;
    }
    
    .au-iframe-bl {
        max-width: 100%;
    }
    
    
    
    /* Hover About Us */
    ul.au .nav-link:hover {
        color: #353535;
        background: none;
        border-radius: 0px;
        border:solid  #353535;
        border-width: 2px 2px 0px 2px;
    }
    

    /* Media Queries About Us Navigation*/
    
    @media (max-width: 1587px) {
    
    .au.bs-example {
        display: flex;
        flex-direction: column;
         margin: 0px 50px 30px 50px;
    }
    
    .au.nav-tabs {
        flex-direction: column;
        padding-bottom: 5px;
        width: 100%;
    }
    
    li.au.nav-item {
            width: 100%;
            
    
        }
    .au.nav-tabs:hover .au.nav-link:hover {
        border-width: 2px;
      
    
    }
    .au.nav-tabs .au.nav-item.show .au.nav-link, .au.nav-tabs .au.nav-link.active.text-center {
        
        border-width: 2px;
        
    }
    ul.au.nav.nav-tabs {
        margin: 20px 0px;
    }
    
    
    } 
    @media screen and (max-width: 440px) {
        .au.nav-link {
            width: 100%;
        }
    }
    
    @media (max-width: 354px) {
        a.au.nav-link {
            font-size: 16px;
    
        }
    a.au.nav-link.active.text-center .au.nav-link.text-center {
        width: fit-content;
    }
    
    
    }
    
    /* Media Queries About Us Content BL */
    
    @media (max-width: 1587px) {
    
        .au-inh-bl {
            flex-direction: column;
            align-items: center;
        }
        .au-con-bl  {
            align-items: center;
        }
        .au-txt-bl {
            width: 75%;
            margin: 0 0 5% 0;
        }
    }
    
    @media (max-width: 1000px) {
        .au-txt-bl {
            width: 100%;
    }
    
    }
    @media (max-width: 330px) {
    .au-title-bl-con {
        font-size: 24px;
        margin-bottom: 15%;
        
    }

    }
    
    /* Media Queries Content BL-Lernende */
    

    
    @media (min-width: 331px) and (max-width: 1587px) {
    .au-title-con {
        text-align: center;
    }
    
    .au-con-andri, .au-con-brooklyn, .au-con-cedric, .au-con-leandro, .au-con-yanik {
        padding: 0 10%;
    }
    .au-inh-andri, .au-inh-cedric, .au-inh-yanik  {
        flex-direction: column;
        align-items: center; 
    }
    
    .au-inh-brooklyn, .au-inh-leandro  {
        flex-direction: column-reverse;
        align-items: center; 
    }
    
    .au-txt-andri, .au-txt-brooklyn, .au-txt-cedric, .au-txt-leandro, .au-txt-yanik  {
            width: 100%;   
            margin: 5% 0 0 0;
    }
    
    
    .au-con-andri, .au-con-brooklyn, .au-con-cedric, .au-con-leandro, .au-con-yanik {
        align-items: center;}
    }
    

    @media (max-width: 330px) {
        .au-title-con {
            font-size: 24px;
            text-align: center;
            margin-bottom: 15%;
           
    }
    .au-con-andri, .au-con-brooklyn, .au-con-cedric, .au-con-leandro, .au-con-yanik {
        padding: 0 10%;
    }
    .au-inh-andri, .au-inh-cedric, .au-inh-yanik  {
        flex-direction: column;
        align-items: center; 
    }
    
    .au-inh-brooklyn, .au-inh-leandro  {
        flex-direction: column-reverse;
        align-items: center; 
    }
    
    .au-txt-andri, .au-txt-brooklyn, .au-txt-cedric, .au-txt-leandro, .au-txt-yanik  {
            width: 100%;   
            margin: 15% 0 0 0;
    }
    
    
    .au-con-andri, .au-con-brooklyn, .au-con-cedric, .au-con-leandro, .au-con-yanik {
        align-items: center;}
    }
  

/* INF-LERNDOKU */

.ledopdf {
    width: 200px;
    max-width: 100%;
    margin: 5% 0%;
}

.pdfcon {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

@media (max-width: 992px) {
    .pdfcon {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
}

.click-zoom input[type=checkbox] {
    display: none
  }
  
  .click-zoom img {
    
    transition: transform 0.25s ease;
    cursor: zoom-in
  }
  
  .click-zoom input[type=checkbox]:checked~img {
    transform: scale(2);
    cursor: zoom-out
  }
  .col-lg-5.col-md-5{
      z-index: 1;
  }