ul.nav.nav-tabs {
    border-bottom: solid 3px  #353535;
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border:solid #353535;
    border-width: 2px 2px 0px 2px;
    background: #C44536;
    color: white;
    font-weight: bold;
    border-radius: 0px;
    
    
    
}
/* a.nav-link {
    margin: 0px 20px;
} */
li.nav-item {
    width: 15%;
    
}
.nav-link:hover {
/* color: #3C6E71; */
border-radius: 0px;
}
.nav-tabs:hover .nav-link:hover {
    border:solid  #353535;
    border-width: 2px 2px 0px 2px;
}
a.nav-link {
    text-decoration: none;
    color: #353535;}



.nav.nav-tabs {
display: flex;
justify-content: space-between;
}

@media (max-width: 1199px) {
.bs-example {display: flex;
    flex-direction: column;}
 .nav-tabs {
    flex-direction: column;
    padding-bottom: 5px;
width: 100%;}
/* .nav-item {
    width: 100%;} */
li.nav-item {
        width: 100%;
}
.nav-tabs:hover .nav-link:hover {
    border-width: 2px;
    /* margin: 5px 0px 5px 0px; */
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-width: 2px;
    /* margin: 5px 0px 5px 0px; */
}

}


/* .nav-item.special {
    width: fit-content;
} 
 */

/* Farben:
jet: #353535
ming: #3C6E71
white: #FFFFFF
red: #C44536 */
/* .nav-tabs {
    border-bottom: 3px solid;
} */
