.body {
    margin: 0;
}
.grid-box {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    grid-template-rows: auto;
}
.box-1 {
    background: lightblue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 10px;
}
.box-2 {
    display: flex;
    justify-content: center;
    background: greenyellow;
    color: white;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 10px;
}
.pic1 {
    height: 300px;
    width: 210px;
}

.box-3 {
    background: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 10px;
}
.pic2 {
    height: 300px;
    width: 300px;
}
.box-4 {
    background: lightcoral;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 10px;
}
.box-5 {
    background: violet;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.box-6 {
    display: flex;
    justify-content: center;
    background: yellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.box-7 {
    background: brown;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.box-8 {
    background: orange;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.box-9 {
    background: lightblue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
.box-10 {
    background: lightcoral;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}



